:root{
}
body{
    margin: 0%;
}
#principal{
    background-color: none;
    color: white;
    border:1px solid black;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}
#principal:hover{
    background-color: black;
    color: write;
}
button{
    background-color: none;
    color: white;
    border:1px solid black;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
}
/*extra-small*/
col-xs-1{
    width: 8.3%;
}
col-xs-2{
    width: 0%;
}