*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titulo_da_lista {
    text-align: center;
    font-weight: bold;
}
table, tr, td{
    border: solid black;
    border-collapse: collapse;
}
thead {
    border: solid black;
}
tbody{
    padding-inline: 20px;
    padding-bottom: 20px;
}

.locais {
    background-color: rgb(160, 148, 148);
    text-align: justify;
    font-weight: bold;
}
.melhor_preco {
    color: #ff0000;
}
.objetos {
    text-align: center;
    font-style: italic;
}
