/* Vendors */

@import url(./Venders/font-awesome.min.css);

/* Base */

@import url(./Base/reset.css);

/*Layout*/

@import url(./Layout/footer.css);
@import url(./Layout/header.css);

/* Utils */

@import url(./Utils/utils.css);
@import url(./Components/btm.css);

/* Main */


/* Responsivo */


/* Small Phone */

@media(max-width: 319px) {
    .news,
    .staff,
    .products {
        display: flex;
        flex-direction: column;
        padding: 20px 20px 20px;
    }
    .staff,
    .products {
        flex-wrap: wrap;
    }
    .news div {
        padding: 20 0px;
        border-right: none;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }
    .news div:last-child {
        border-bottom: none;
    }
    .news h3 {
        color: var(--blue);
        font-weight: lighter;
        line-height: 1.5em;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .news p {
        color: var(--gray);
        font-size: 0.9em;
        font-weight: lighter;
        line-height: 1.5em;
        margin-bottom: 30px;
    }
    .news a,
    .products a {
        background-color: var(--blue);
        font-size: 0.9em;
        color: #fff;
        text-decoration: none;
        padding: 10px 80px;
    }
    .staff {
        justify-content: space-between;
        background-color: var(--blue);
        color: #fff;
    }
    .staff h2,
    .staff p {
        width: 100%;
        text-align: center;
    }
    .staff h2 {
        font-size: 2.6em;
        font-weight: normal;
    }
    .staff>p {
        margin-bottom: 30px;
    }
    .staff div {
        width: 100%;
        justify-content: center;
        text-align: center;
        padding: 20px 0px;
        margin-bottom: 15px;
        border: 1px solid #aaa;
    }
    .staff img {
        border-radius: 50%;
    }
    .staff h3 {
        font-weight: normal;
        margin: 30px 0 10px;
    }
    .staff p {
        color: #ddd;
    }
    .products {
        justify-content: space-between;
    }
    .products h2,
    .products>p {
        width: 100%;
        text-align: center;
    }
    .products div {
        width: 250px;
        text-align: center;
    }
    .products img {
        width: 250px;
        padding-top: 40px;
    }
    .products h2 {
        margin: 20px;
        color: var(--blue);
        font-size: 2.6em;
        font-weight: normal;
    }
    .products>p {
        margin-bottom: 40px;
    }
    .products h3 {
        color: var(--blue);
        font-weight: normal;
    }
    .products p {
        color: #aaa;
        line-height: 1.5em;
    }
    .products div p {
        margin-bottom: 30px;
    }
}


/* Phone */

@media(min-width: 320px) and (max-width: 767px) {
    .news a,
    .products a {
        background-color: var(--blue);
        font-size: 0.9em;
        color: #fff;
        text-decoration: none;
        padding: 10px 140px;
    }
}


/* Tablet */

@media(min-width: 768px) and (max-width: 1023px) {
    .news,
    .staff,
    .products {
        padding: 40px 50px 40px;
    }
    .staff,
    .products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .news div {
        padding: 40 0px;
        border-right: none;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }
    .news div:last-child {
        border-bottom: none;
    }
    .news h3 {
        color: var(--blue);
        font-weight: lighter;
        line-height: 1.5em;
        margin-bottom: 30px;
    }
    .news p {
        color: var(--gray);
        font-size: 0.9em;
        font-weight: lighter;
        line-height: 1.5em;
        margin-bottom: 30px;
    }
    .news a,
    .products a {
        background-color: var(--blue);
        font-size: 0.9em;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
    }
    .staff {
        justify-content: space-between;
        background-color: var(--blue);
        color: #fff;
    }
    .staff h2,
    .staff p {
        width: 100%;
        text-align: center;
    }
    .staff h2 {
        font-size: 2.6em;
        font-weight: normal;
    }
    .staff>p {
        margin-bottom: 80px;
    }
    .staff div {
        width: 48%;
        justify-content: center;
        text-align: center;
        padding: 40px 0px;
        margin-bottom: 15px;
        border: 1px solid #aaa;
    }
    .staff img {
        border-radius: 50%;
        margin: 0 auto;
    }
    .staff h3 {
        font-weight: normal;
        margin: 30px 0 10px;
        text-align: center;
    }
    .staff p {
        color: #ddd;
    }
    .products {
        justify-content: space-between;
    }
    .products h2,
    .products>p {
        width: 100%;
        text-align: center;
    }
    .products div {
        width: 250px;
        text-align: center;
    }
    .products img {
        width: 100%;
        padding-top: 40px;
    }
    .products h2 {
        margin: 20px;
        color: var(--blue);
        font-size: 2.6em;
        font-weight: normal;
    }
    .products>p {
        margin-bottom: 40px;
    }
    .products h3 {
        color: var(--blue);
        font-weight: normal;
    }
    .products p {
        color: #aaa;
        line-height: 1.5em;
    }
    .products div p {
        margin-bottom: 30px;
    }
}


/* Desktop */

@media(min-width: 1024px) {
    .news,
    .staff,
    .products {
        display: flex;
        flex-direction: row;
        padding: 80px 50px 100px;
    }
    .staff,
    .products {
        flex-wrap: wrap;
    }
    .news div {
        padding: 0 40px;
        border-right: 1px solid #ddd;
    }
    .news div:last-child {
        border-right: none;
    }
    .news h3 {
        color: var(--blue);
        font-weight: lighter;
        line-height: 1.5em;
        margin-bottom: 30px;
    }
    .news p {
        color: var(--gray);
        font-size: 0.9em;
        font-weight: lighter;
        line-height: 1.5em;
        margin-bottom: 30px;
    }
    .news a,
    .products a {
        background-color: var(--blue);
        font-size: 0.9em;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
    }
    .staff {
        justify-content: space-between;
        background-color: var(--blue);
        color: #fff;
    }
    .staff h2,
    .staff p {
        width: 100%;
        text-align: center;
    }
    .staff h2 {
        margin: 20px;
        font-size: 2.6em;
        font-weight: normal;
    }
    .staff>p {
        margin-bottom: 80px;
    }
    .staff div {
        padding: 50px 30px;
        border: 1px solid #aaa;
    }
    .staff img {
        border-radius: 50%;
    }
    .staff h3 {
        text-align: center;
        font-weight: normal;
        margin: 30px 0 10px;
    }
    .staff p {
        color: #ddd;
    }
    .products {
        justify-content: space-between;
    }
    .products h2,
    .products>p {
        width: 100%;
        text-align: center;
    }
    .products div {
        width: 450px;
        margin: 25px;
    }
    .products img {
        width: 100%;
    }
    .products h2 {
        margin: 20px;
        color: var(--blue);
        font-size: 2.6em;
        font-weight: normal;
    }
    .products>p {
        margin-bottom: 80px;
    }
    .products h3 {
        margin: 20px 0;
        color: var(--blue);
        font-weight: normal;
    }
    .products p {
        color: #aaa;
        line-height: 1.5em;
    }
    .products div p {
        margin-bottom: 30px;
    }
}