.banner {
    position: relative;
    background-image: url(/images/banner.jpg);
    background-position: center;
    height: 600px;
}

.banner div {
    position:absolute;
    bottom:0;
    padding: 50px 150px;
    text-align: center;
    background-color: var(--detail-bck);
    color: var(--contrast-font-transp);
}
.banner div a {
    background-color: var(--detail-bck);
    color: var(--contrast-font);
    text-decoration: underline;
}