*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}
img{
    position: relative;
    
}
em{
    font-style: normal;
    color: blue;
    font: size 20px;
    
}
p{
    text-align: justify;
}
.mar{
    position: relative;
    left: 990px;
}
