/* Base */

@import './Base/reset.css';

/* Layout */

@import './Layout/header.css';
@import './Layout/aside.css';
@import './Layout/footer.css';

/* Main */

#principal {
    background-color: none;
    color: white;
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
    cursor: pointer;
}

#principal:hover {
    background-color: black;
    color: write;
}


/* button {
    background-color: none;
    color: white;
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
} */

main section {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}

#text {
    max-width: 78%;
    text-align: justify;
}

main {
    display: flex;
    margin: 0 0 50px 15px;
}

main img {
    object-fit: cover;
}

main section {
    padding-top: 5px;
}

#last-part {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}


/*Extra-small*/

col-xs-1 {
    width: 8.3%;
}

col-xs-2 {
    width: 0%;
}