/* Reset */

@import url(./reset/reset.css);

/* Layout */

@import url(./layout/navbar.css);
main {
    background-color: rgb(245, 248, 255);
    color: #253DA1;
    display: flex;
    padding: 15px 10% 40px;
}

main img {
    border-radius: 5px;
    box-shadow: 10px 10px;
    height: 150px;
    width: 250px;
}

main div {
    width: 50%;
    gap: 50px;
    display: flex;
    flex-direction: column;
}

main a {
    border: 1px #000137 solid;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    background-color: #000137;
    width: 200px;
}

footer {
    background-color: rgb(245, 248, 255);
    color: #253DA1;
}

footer pre {
    padding: 0 43%;
}

footer hr {
    color: #ddddfa;
    margin: 0 2.5%;
}