/* Reset */

@import url(./reset/reset.css);

/* Layout */

@import url(./layout/navbar.css);
main {
    height: max-content;
    background-color: rgb(245, 248, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    color: #02055A;
    padding: 20px 0 0;
}

main ul {
    font-weight: 500;
    color: #02055A;
    list-style: none;
    display: flex;
    padding: 0 15px;
}

main ul li {
    padding: 15px;
    cursor: pointer;
}

main ul li:first-child {
    background-color: #b1b3f7;
}

#plates {
    background-color: #b1b3f7;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px
}

#plates img {
    height: 180px;
    width: 250px;
    border-radius: 5px;
}

#plates div {
    display: flex;
}

#informations {
    display: flex;
    flex-direction: column;
}

#informations button {
    width: fit-content;
    border-radius: 5px;
}