footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px;
    background-color: rgb(27, 27, 27);
    padding: 50px 15px;
    color: white;
}

footer hr {
    margin: 1px;
    border: 0.5px solid gray;
    width: 100%;
}

footer p {
    margin: 10px 0;
}

footer div {
    width: 30%;
}